<footer>
  <div class="container">
    <div class="footer-col">
      California Love.<br/>
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">{{ site.time | date: '%B %Y'}}</abbr>
    </div>
    <div class="footer-col">
      <a href="https://github.com/jonhillery/hillery.github.io/edit/master/{{page.path}}">Edit this page</a>
    </div>
    <div class="footer-col site-desc">{{ site.description }} Here's the <a href="https://ww3.math.ucla.edu/">UCLA Department of Mathematics</a> and <a href="https://www.uaw4811.org/">our union (UAW 4811)</a>.<!--I'm <a href="https://twitter.com/domoritz">@domoritz</a> on Twitter, <a rel="me" href="https://vis.social/@dom">@dom@vis.social</a> on the Fediverse, and <a href="https://bsky.app/profile/domoritz.de">@domoritz.de</a> on Bluesky.--></div>
  </div>
</footer>
